.no-padding-right {
  padding-inline-end:0 !important
}

.instrument-serif {
  font-family: 'Instrument serif', serif!important;
}

.helvetica-neue {
  font-family: 'Helvetica Neue', sans-serif!important;
}